@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/background.jpg');
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    /* background-color: rgba(128, 131, 131, 0.308);
    border-radius: 2em;
    padding: 0 3em; */
    width: 80%;
    margin: 5px auto;
    min-height: 2.5rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{   
    min-height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    flex: 3;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;        


}

 
.logo:hover{
    letter-spacing: .20em; /* Adjust as needed */
    cursor: pointer;
}
/* The typing effect */
/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
   */
.hamburguer{
    justify-self: end;
    object-fit: contain;
    height: 2em;
}

.portfolio{
    text-decoration: none;
}

.portfolio:hover{
    color: pink;
    font-weight: bolder;
}
